div.intersititial {
  display: flex;
  height: 98%;
  width: 96%;
  position: absolute;
  top: 1%;
  left: 2%;
  z-index: 5;
  justify-content: center;
  box-sizing: border-box;
  background-color: #caebfb;
  border: 5px solid #2a6e9a;
}

div.intersititial div.center-bloc {
  align-self: center;
  display: flex;
  flex-flow: column;
}

div.intersititial div.center-bloc > * {
  align-self: center;
}

img.logo {
  width: 70vw;
  margin-bottom: 5%;
}