div.intersititial {
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 5;
  justify-content: center;
  box-sizing: border-box;
  background-color: #caebfb;
}

div.intersititial.home,
div.intersititial.instructions,
div.intersititial.about {
  height: 98%;
  width: 96%;
  top: 1%;
  left: 2%;
  border: 5px solid #2a6e9a;
}

div.intersititial.endgame {
  background-color: rgba(202, 235, 251, 0.85);
}

div.intersititial div.center-bloc {
  align-self: center;
  display: flex;
  flex-flow: column;
}

div.intersititial div.center-bloc > * {
  align-self: center;
}

img.logo {
  width: 70vw;
  margin-bottom: 5%;
}

h1 {
  font-size: 38px;
  background-color: #ffffff;
  padding: 0 15px 5px;
  font-weight: normal;
  border: 5px solid #2a6e9a;
}

p.p-about,
p.p-instructions {
  width: 80%;
}

p.p-instructions:first-of-type {
  margin-bottom: 0;
}

p.p-about a,
p.p-about a:hover,
p.p-instructions a,
p.p-instructions a:hover {
  text-decoration: none;
  background-color: #ffffff;
  padding: 0 2px;
  color: #2a6e9a;
}