div.intersititial {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  justify-content: center;
}

div.intersititial div.center-bloc {
  align-self: center;
  display: flex;
  flex-flow: column;
}