div.gameboard {
  height: 87%;
  width: 96%;
  top: 11%;
  left: 2%;
  position: absolute;
  box-sizing: border-box;
  background-color: #caebfb;
  border: 5px solid #2a6e9a;
}

div.header {
  height: 8%;
  width: 96%;
  top: 1%;
  left: 2%;
  position: absolute;
  box-sizing: border-box;
  background-color: #caebfb;
  border: 5px solid #2a6e9a;
}

div.header button {
  height: 80%;
  padding: 0 15px;
  margin: 1.25% 0 0 0;
  left: 1.5%;
  background: url(../../Assets/Images/arrow.png) no-repeat;
  background-position: center;
  background-size: 25%;
  background-color: #ffffff;
  position: absolute;
}

div.difficulty-container,
div.tries-container {
  position: relative;
  float: right;
  padding: 0;
  margin: 0 8% 0 0;
}

div.difficulty-container {
  margin-right: 10%;
}

div.header-title {
  font-size: 15px;
  color: rgba(42, 110, 154, 0.7);
}


div.header-content {
  font-size: 30px;
  line-height: 0.25;
}

div.header-content.infini {
  font-size: 35px;
  line-height: 0.33;
}

div.header-content.num {
  font-size: 25px;
  line-height: 0.6;
}