div.gameboard {
  height: 87%;
  width: 96%;
  top: 11%;
  left: 2%;
  position: absolute;
  box-sizing: border-box;
  background-color: #caebfb;
  border: 5px solid #2a6e9a;
}

div.header {
  height: 8%;
  width: 96%;
  top: 1%;
  left: 2%;
  position: absolute;
  box-sizing: border-box;
  background-color: #caebfb;
  border: 5px solid #2a6e9a;
}

div.header button {
  height: 80%;
  padding: 0 15px;
  margin: 1.25% 0 0 0;
  left: 1.5%;
  background: url(../../Assets/Images/arrow.png) no-repeat;
  background-position: center;
  background-size: 25%;
  background-color: #ffffff;
  position: absolute;
}