@font-face {
  font-family: 'WalterTurncoat';
  src: url(./Assets/Fonts/WalterTurncoat-Regular.ttf);
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'WalterTurncoat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

button {
  color: #2a6e9a;
  background-color: #ffffff;
  border: none;
  line-height: 1;
  margin-top: 10px;
  outline: none;
  font-family: 'WalterTurncoat';
}

button.btn-primary {
  font-size: 54px;
  padding: 0px 15px 9px;
}

button.btn-secondary {
  font-size: 27.5px;
  padding: 0px 15px 5px;
}

button.btn-tertiary {
  font-size: 27.5px;
}